//COLORS
$backgroundMain: rgba(216, 208, 198, 1);
$lines: #594630;

//RULES

body {
  background-color: $backgroundMain;
  margin-top: 20px;
  background: url(../Editing/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 80%;
  margin: 30px auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  nav {
    justify-self: end;
    align-self: end;
    ul {
      list-style: none;

      li {
        display: inline;
        margin-left: 50px;
        a {
          color: $lines;
          text-decoration: none;
          transition: all 0.2s ease-in;
          &:hover {
            filter: brightness(2);
            -webkit-filter: brightness(2);
            color: $lines;
            text-decoration: none;
          }
        }
      }
    }
  }

  div {
    height: 90px;
    img {
      height: 100%;
      width: auto;
    }
  }
}

main {
  #box1 {
    width: 40vw;
    border-bottom: 2px solid $lines;
    position: relative;
    top: 60vh;

    p {
      color: $lines;
      font-size: 1rem;

      span {
        filter: brightness(2);
        font-size: 2rem;
      }
    }
  }
}

//MEDIA QUERIES
@media all and (max-width: 738px) {
  body {
    background: $backgroundMain;
  }
  header {
    nav {
      position: relative;
      right: 32vw;
    }
    img {
      position: relative;
      top: 55vh;
      left: 21vw;
      transform: scale(1.2);
    }
  }
  main {
    #box1 {
      position: static;
      margin: 100px auto;
      width: 50vw;
      text-align: center;
    }
  }
}
